<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> <?php if (!empty($title)) echo $title ?></title>
<link rel="shortcut icon" href="../images/layouts/default/favicon.ico" />

<link href="../css/default.css" rel="stylesheet" type="text/css" />
<link href="../css/sf_menu.css" rel="stylesheet" type="text/css" media="screen" />
<?php if (!empty($css)) echo $css ?>
<script type="text/ecmascript" src="../js/jquery1.9.1/jquery-1.9.1.js"></script>
<script type="text/ecmascript" src="../js/superfish.js"></script>
  <?php if (!empty($js)) echo $js ?>

<style type="text/css">
<!--
.style1 {
	color: #000099;
	font-weight: bold;
}
-->
</style>

<?php 

if (isset($_SESSION[SESSION_TITLE.'member_roll_id']) && $_SESSION[SESSION_TITLE.'member_roll_id'] == ROLL_GUEST && isset($_SESSION[SESSION_TITLE.'member_userid']) && $_SESSION[SESSION_TITLE.'member_userid'] > 0 ){
?>

<script type="text/javascript">
	var start;

$(document).ready(function() {
	start = new Date();
	start = start.getTime();

	$(window).unload(function()  {

		end = new Date();
		end = end.getTime();
		log_time = (end - start)/60000;
		start = new Date();
		start = start.getTime();
		url = "guest_log.php?log_time="+log_time;

		$.get(url,function(data,status){
		//alert("Data: " + data + "\nStatus: " + status);
		});
	});


	$("a").click(function(event){
		end = new Date();
		end = end.getTime();
		log_time = (end - start)/60000;
		start = new Date();
		start = start.getTime();
		url = "guest_log.php?log_time="+log_time;

		$.get(url,function(data,status){
		//alert("Data: " + data + "\nStatus: " + status);
		});
	});






});
</script>

<?php } ?>


</head>

<body>
<div class="outer">
	<div class="inner">
    	<div class="header">
        	<div class="logo"><a href="http://rotarycochincosmos.org"><img src="../images/layouts/default/rilogo.png" /></a></div>
            <div class="name"><a href="http://rotarycochincosmos.org"><img src="../images/layouts/default/name.png" /></a></div>
            <div class="theme"><img src="../images/layouts/default/theme.png" border="1" /></div>
            <div class="contacts"> 
            	&nbsp;
            </div>
            
            <div class="menu_container">
            	<div class="menu">
					<?php if (!empty($menu)) echo $menu ?>
                </div>
            </div>
        </div>
        <div class="content">
			<div class="content_1_inner">
				<?php if (!empty($left_menu)) echo $left_menu ?>
			</div>
            <div class="content_2_inner">
                <?php if (!empty($content)) echo $content;
                echo $this->plugin_output;  ?>
            </div>
        </div>
    	<div class="footer">
        <div class="footer_wrapper">
        	<table width="100%" border="0">
              <tr>
                <td width="50" rowspan="2" align="left" valign="middle"></td>
                <td width="286" rowspan="2" align="left" valign="middle"></td>
                <td width="650">
                <div class="menu_foo">
                    <div class="menu_item_foo foo"><a href="/index.php">Home</a></div>
                    <div class="menu_item_foo foo"><a href="/pres_msg.php">About Cochin Cosmos</a></div> 
                    <div class="menu_item_foo foo"><a href="/history.php">About Rotary</a></div> 
                    <div class="menu_item_foo foo"><a href="/forum">Forum</a></div> 
                    <div class="menu_item_foo foo"><a href="/photo_gallery.php">Events</a></div> 
                    <div class="menu_item_foo foo"><a href="/make_up.php">Make Up</a></div>
                    <div class="menu_item_foo foo"><a href="#">Site Map</a></div>
                </div>                </td>
              </tr>
              <tr>
                <td align="right" valign="middle"> <img src="../images/layouts/default/fb1.png" width="24" /> &nbsp; <img src="../images/layouts/default/twitter.png" width="24" /> &nbsp; <img src="../images/layouts/default/ut.png" width="24" /></td>
              </tr>
              <tr>
                <td colspan="2"><div class="foo_col1">Copyright © Rotary eClub. All Rights Reserved.</div></td>
                <td>
               	  <div class="foo_col2">
                    	Contact Us | Privacy Policy | Terms of Use
               			<br />Designed by <a href="http://acube.co" target="_blank" style="text-decoration:none;"><span class="style2">Acube</span></a>                	
                    </div>
                </td>
              </tr>
            </table>

        </div>
    </div>
    </div>
</div>

</body>
</html>
