<!--===========================FreiChat=======START=========================-->
<!--	For uninstalling ME , first remove/comment all FreiChat related code i.e below code
	 Then remove FreiChat tables frei_session & frei_chat if necessary
         The best/recommended way is using the module for installation                         -->

<?php

if(isset($_SESSION[SESSION_TITLE.'member_userid']) && $_SESSION[SESSION_TITLE.'member_userid'] > 0) {
	$ses = $_SESSION[SESSION_TITLE.'member_userid'] ;//tell freichat the userid of the current user
	//setcookie("freichat_user", $_SESSION[SESSION_TITLE.'member_username'], time()+3600, "/"); // *do not change -> freichat code

//setcookie("freichat_user", "LOGGED_IN", time()+3600, "/"); // *do not change -> freichat code

if(!function_exists("freichatx_get_hash")){
function freichatx_get_hash($ses){

       if(is_file("freichat/hardcode.php")){

               require "freichat/hardcode.php";

               $temp_id =  $ses . $uid;

               return md5($temp_id);

       }
       else
       {
               echo "<script>alert('module freichatx says: hardcode.php file not
found!');</script>";
       }

       return 0;
}
}
?>
<script type="text/javascript" language="javascipt" src="freichat/client/main.php?id=<?php echo $ses;?>&xhash=<?php echo freichatx_get_hash($ses); ?>"></script>
	<link rel="stylesheet" href="freichat/client/jquery/freichat_themes/freichatcss.php" type="text/css">
<?php } ?>
<!--===========================FreiChatX=======END=========================--> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> <?php if (!empty($title)) echo $title ?></title>
  <?php if (!empty($js)) echo $js ?><?php if (!empty($css)) echo $css ?>
<link rel="shortcut icon" href="images/layouts/default/favicon.ico" />
<link href="css/default.css" rel="stylesheet" type="text/css" />
<link href="css/sf_menu.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="css/orbit-1.2.3.css">
<script type="text/ecmascript" src="js/jquery.min.js"></script>
<script type="text/ecmascript" src="js/superfish.js"></script>
<script type="text/ecmascript" src="js/jquery.orbit-1.2.3.js"></script>
<style type="text/css">
<!--
.style2 {color: #FF0000}
-->
</style>
<?php 

if (isset($_SESSION[SESSION_TITLE.'member_roll_id']) && $_SESSION[SESSION_TITLE.'member_roll_id'] == ROLL_GUEST && isset($_SESSION[SESSION_TITLE.'member_userid']) && $_SESSION[SESSION_TITLE.'member_userid'] > 0 ){
?>

<script type="text/javascript">
	var start;

$(document).ready(function() {
	start = new Date();
	start = start.getTime();

	$(window).unload(function()  {

		end = new Date();
		end = end.getTime();
		log_time = (end - start)/60000;
		start = new Date();
		start = start.getTime();
		url = "guest_log.php?log_time="+log_time;

		$.get(url,function(data,status){
		//alert("Data: " + data + "\nStatus: " + status);
		});
	});


	$("a").click(function(event){
		end = new Date();
		end = end.getTime();
		log_time = (end - start)/60000;
		start = new Date();
		start = start.getTime();
		url = "guest_log.php?log_time="+log_time;

		$.get(url,function(data,status){
		//alert("Data: " + data + "\nStatus: " + status);
		});
	});






});
</script>

<?php } ?>


</head>

<body>
<div class="outer">
	<div class="inner">
    	<div class="header">
        	<div class="logo"><a href="http://rotarycochincosmos.org"><img src="images/layouts/default/rilogo.png" /></a></div>
            <div class="name"><a href="http://rotarycochincosmos.org"><img src="images/layouts/default/name.png" /></a></div>
            <div class="theme"><img src="images/layouts/default/theme.png" border="1" /></div>
            <div class="contacts"> 
            	
            </div>
            
            <div class="menu_container">
            	<div class="menu">
 


<?php if (!empty($menu)) echo $menu ?>
                </div>
            </div>
        </div>
        <div class="content">

        <?php if (!empty($content)) echo $content;
        echo $this->plugin_output;  ?>
       </div>
    </div>
    <div class="footer">
        <div class="footer_wrapper">
        	<table width="100%" border="0">
              <tr>
                <td width="50" rowspan="2" align="left" valign="middle"></td>
                <td width="286" rowspan="2" align="left" valign="middle"></td>
                <td width="650">
                <div class="menu_foo">
                    <div class="menu_item_foo foo"><a href="/index.php">Home</a></div>
                    <div class="menu_item_foo foo"><a href="/pres_msg.php">About Cochin Cosmos</a></div> 
                    <div class="menu_item_foo foo"><a href="/history.php">About Rotary</a></div> 
                    <div class="menu_item_foo foo"><a href="/forum">Forum</a></div> 
                    <div class="menu_item_foo foo"><a href="/photo_gallery.php">Events</a></div> 
                    <div class="menu_item_foo foo"><a href="/make_up.php">Make Up</a></div>
                    <div class="menu_item_foo foo"><a href="#">Site Map</a></div>
                </div>                </td>
              </tr>
              <tr>
                <td align="right" valign="middle"> <img src="images/layouts/default/fb1.png" width="24" /> &nbsp; <img src="images/layouts/default/twitter.png" width="24" /> &nbsp; <img src="images/layouts/default/ut.png" width="24" /></td>
              </tr>
              <tr>
                <td colspan="2"><div class="foo_col1">Copyright © Rotary Cochin Cosmos. All Rights Reserved.</div></td>
                <td>
               	  <div class="foo_col2">
                    	Contact Us | Privacy Policy | Terms of Use
               			<br />Designed by <a href="http://acube.co" target="_blank" style="text-decoration:none;"><span class="style2">Acube</span></a>                	
                    </div>
                </td>
              </tr>
            </table>

        </div>
    </div>
</div>
</body>
</html>
